* {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(192, 190, 190);
    border-color: rgb(77, 40, 16) !important;
}

h1 {
    font-size: 80px;
    margin: 20px;
    color: rgb(65, 54, 54);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Noto Sans Mono', monospace;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.content {
    width: 500px;
    padding: 10px;
    border: 2px solid goldenrod !important;
    border-radius: 10px;
    background-color: rgb(15, 0, 0);
    box-shadow: 3px 3px 20px rgb(0, 0, 0);
}

.previousNumberDisplay {
    font-size: 22px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.currentNumberDisplay {
    margin-right: 5px;
    margin-top: 62px;
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive,
.sectionSix {
    display: flex;
}

/*Border Fixing --------------------------------------*/

.bottom {
    margin-top: 5px;
    border-right: none;
    border-bottom: none;
}

.sectionOne>div,
.sectionTwo>div,
.sectionThree>div,
.sectionFour>div,
.sectionSix>div {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    width: 43px;
    border-right: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.top {
    margin-top: 5px;
    border: 2.5px solid rgb(228, 152, 1) !important;
    border-radius: 5px;
}

.sectionFive {
    height: 150px;
}

.sectionFive>div {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    padding: 0px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 0px !important;
}

/* Button Styling --------------------------------------*/
sup,
.operator,
.clear,
.equal,
.powerSquare,
.operator>button,
.clear>button,
.equal>button,
.powerSquare>button {
    background-color: rgb(128, 122, 122);
    color: aliceblue;
}

.numb,
.flipSign,
.numb>button,
.flipSign>button,
.currentNumberDisplay,
.previousNumberDisplay {
    background-color: rgb(255, 255, 255);
    color: rgba(204, 27, 27, 0.856);
}

/* -------------------------------------------------- */
sup {
    font-size: 30px;
}

.sectionFive {
    height: 120px;
}

.clear {
    padding-left: 20px;
    padding-top: 5px;
}

.backspace,
.backspaceImg {
    background-color: rgb(15, 0, 0);
}

.backspace {
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.backspaceImg {
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
}

.resultSize {
    font-size: 38px;
    margin-top: 95px;
}

button {
    border: none;
    background-color: white;
}

.bottom,
.backspace * {
    cursor: pointer;
}

/* Hover and Transition --------------------------------------*/
.numb:hover,
.flipSign:hover {
    background-color: black;
    opacity: 80%;
    transition: background-color 0.25s;
}

.numb:active,
.flipSign:active {
    background-color: rgb(238, 192, 150);
    opacity: 20%;
    transition: background-color 0.05s;
}

.operator:hover,
.equal:hover,
.clear:hover,
.sectionSix>.powerSquare:hover,
.sectionSix>.powerSquare:hover * {
    background-color: whitesmoke;
    transition: background-color 0.25s;
    color: black;
}

.operator:active,
.equal:active,
.clear:active,
.sectionSix>.powerSquare:active,
.sectionSix>.powerSquare:active * {
    background-color: rgb(238, 192, 150);
    opacity: 20%;
    transition: background-color 0.25s;
}

.backspace:active *,
.backspace:active {
    background-color: whitesmoke;
    transition: ease-out;
}