* {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    border-color: rgb(77, 40, 16) !important;
}

h1 {
    font-size: 80px;
    margin: 20px;
    color: rgb(65, 54, 54);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    display: flex;
    /* border: 5px solid rgb(8, 2, 2); */
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.content {
    width: 500px;
    padding: 10px;
    border: 2px solid goldenrod !important;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 20px rgb(0, 0, 0);
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive,
.sectionSix {
    display: flex;
}

/* ------------------------Border Fixing -----------------------*/
.bottom {
    margin-top: 5px;
    /* border: 2px solid goldenrod; */
    border-right: none;
    border-bottom: none;
}

.sectionOne>div,
.sectionTwo>div,
.sectionThree>div,
.sectionFour>div,
.sectionSix>div {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    width: 43px;
    border-right: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.top {
    margin-top: 5px;
    border: 2.5px solid rgb(228, 152, 1) !important;
    border-radius: 5px;
}

.sectionFive>div {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    padding: 0px !important;
    background-color: rgb(255, 255, 255);
    /* border-right: 2.5px solid rgb(228, 152, 1) !important; */
    border-radius: 0px !important;
}


/* ------------------------Border Fixing -----------------------*/

.clear {
    padding-left: 20px;
    padding-top: 5px;
}

.sectionFive {
    height: 150px;
}

.previousNumberDisplay {
    font-size: 22px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.currentNumberDisplay {
    margin-right: 5px;
    margin-top: 62px;
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgb(27, 61, 90); */
}

/* button BackGround */
sup,
.operator,
.clear,
.equal,
.powerSquare,
.operator>button,
.clear>button,
.equal>button,
.powerSquare>button {
    background-color: rgb(128, 122, 122);
    color: aliceblue;
}

.numb,
.flipSign,
.numb>button,
.flipSign>button,
.currentNumberDisplay,
.previousNumberDisplay {
    background-color: rgb(255, 255, 255);
    color: rgba(204, 27, 27, 0.856);
}

.backspace,
.backspaceImg {
    background-color: black;
}

/* button BackGround */

.backspace {
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backspaceImg {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.resultSize {
    font-size: 38px;
    margin-top: 95px;
}

button {
    border: none;
    background-color: white;
}

/* button:hover {
    background-color: rebeccapurple; 
}  */

sup {
    font-size: 30px;
}

.sectionFive {
    height: 120px;
}