* {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: rgb(3, 0, 0); */
}

h1 {
    margin: 20px;
    color: darkblue;
}

.main {
    display: flex;
    /* border: 5px solid rgb(8, 2, 2); */
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.content {
    width: 500px;
    padding: 10px;
    border: 3px solid goldenrod;
    border-radius: 10px;
    /* background-color: white !important; */

}

/* .top {
    background-color: white !important;
}

.bottom {
    background-color: white !important;
}

 */

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive,
.sectionSix {
    display: flex;
}


.sectionOne>div,
.sectionTwo>div,
.sectionThree>div,
.sectionFour>div,
.sectionFive>div,
.sectionSix>div {
    border: 1px solid goldenrod;
    padding: 20px;
    text-align: center;
}

.sectionOne>div,
.sectionTwo>div,
.sectionThree>div,
.sectionFour>div,
.sectionSix>div {
    flex-grow: 1;
    width: 43px;
    /* border-radius: 20px; */
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    padding: 0px !important;
    background-color: rgb(231, 190, 190) !important;
}

.top {
    margin-top: 5px;
    border: 1px solid goldenrod;
}

.bottom {
    margin-top: 5px;
    border: 1px solid goldenrod;
}

.clear {
    padding-left: 20px;
    padding-top: 5px;
}

.sectionFive {
    height: 150px;
}

.previousNumberDisplay {
    font-size: 22px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.currentNumberDisplay {
    padding-right: 5px;
    margin-top: 95px;
}

.operator,
.clear,
.equal {
    background-color: silver;
}

.backspace {
    width: 83.25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backspaceImg {
    width: 200%;
    height: 100%;
    /* background-color: red; */
}

.resultSize {
    font-size: 38px;
    margin-top: 95px;
}

button {
    border: none;
    background-color: white;
}

.operator>button,
.clear>button,
.equal>button {
    border: none;
    background-color: silver;
}

sup {
    font-size: 30px;
}